<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule ^dashboard$ index.php [L]
RewriteRule ^kelas$ kelas.php [L]
RewriteRule ^guru$ guru.php [L]
RewriteRule ^murid$ murid.php [L]
RewriteRule ^tugas$ tugas.php [L]

</IfModule>